/src/autosave3.sav
/src/autosave1.sav
/src/autosave2.sav
/src/autosave4.sav
/src/autosave5.sav
/.idea/shelf/Default_Changelist2.xml
/.idea/shelf/Default_Changelist3.xml
/.idea/shelf/Default_Changelist2/shelved.patch
/.idea/shelf/Default_Changelist3/shelved.patch
/src/test area polearm.sav
/src/testgame.sav
/src/__pycache__
/src/__pycache__/*
/.idea/workspace.xml~origin_master
/.idea/workspace.xml~testing
/.idea
/.idea/*
/.idea/misc.xml
*.iml
misc.xml
.idea
.idea/*
.idea/misc.xml
config_dev.ini

/venv
/venv/*
/src/test.sav
/autosave*.sav
/test*.sav
cov_*.json
cov_*.txt
.env
.venv
/utils/ai-prompts/
*\__pycache__
config_dev.ini
.coverage
